@{
  Layout = "_Layout";
}

@using Library.Models
@model Library.Models.Author

<h2>Edit this Author</h2>

<h4>Edit this Author's Informaiton: @Html.DisplayFor(model => model.AuthorName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AuthorId)

  @Html.LabelFor(model => model.AuthorName)
  @Html.EditorFor(model => model.AuthorName)

  <input type="submit" class="button" value="Save" />
}